@using WebAppFcDeHoek.Structs

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@eNavigation.GetNavigationDescription(eNavigation.Links) :</h2>
<div>
    <table>
        <tr>
            <td><a href="http://www.perkez.be/" target="_blank">P.E.R.K.E.Z.</a></td>
        </tr>
    </table>
</div>

