
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="greyback">
    <h2>Geschiedenis</h2>

    <div class="row">
        <p>
            <div class="row">
                <h3> Het Ontstaan</h4><br />
                FC De Hoek is ontstaan in het voetbalseizoen 2010-2011 in de 3de reeks van het P.E.R.K.E.Z. voetbalverbond. <br />
                De eerste 2 voetbalseizoen waren weinig succesvol met een voorlaatste (21 punten) en laatste plaats (7 punten) in de 3de reeks, wat normaal is voor een beginnende club. Tijdens deze moeilijke eerste jaren werd wel de basis gelegd voor de toekomstige succesverhalen.
            </div>
        </p>
        <p>
            <div class="row">
                <h3> Herindeling van de reeksen</h4><br />
                In seizoen 2012-2013 had FC De Hoek een campagne met ups en downs. Dit resulteerde uiteindelijk in een 5de plaats in de 3de reeks (27 punten). <br />
                Door het verdwijnen van enkele ploegen werden de reeksen op het einde van dit seizoen herschikt van 3 (met 11 ploegen elk) naar 2 (met 15 ploegen elk). <br />
                Hierdoor kwam De Hoek in reeks 2 terecht.
            </div>
        </p>
        <p>
            <div class="row">
                <h3>Boerenjaar</h4><br />
                In seizoen 2013-2014 had FC De Hoek - wat men noemt - een boerenjaar. Dankzij enkele versterkingen eindigde het de campagne op een mooie 4de plaats (op 15) met 45 punten. <br />
                Enkele nieuwe ploegen schreven zich in bij PERKEZ en de reeksindeling wijzigde opnieuw naar 3. Door de mooie 4de plaats in 2013-2014 bleef De Hoek in reeks 2 actief.
            </div>
        </p>
        <p>
            <div class="row">
                <h3>Promotie</h4><br />
                Seizoen 2014-2015 werd opnieuw een topper en FC De Hoek eindigde op een 3de plaats op 11 ploegen dit met 31 punten en de beste defensie in de reeks. <br />
                Door het verdwijnen van Eendracht Stene in reeks 1 leverde dit De Hoek promotie op naar Reeks 1 van het P.E.R.K.E.Z. verbond.
            </div>
        </p>
        <p>
            <div class="row">
                <h3>Degradatie uit Reeks 1</h4><br />
                FC De Hoek valt echter wat te licht uit voor de 1ste reeks in 2015-2016 en bezet gedurende het seizoen vooral de voorlaatste plaats. <br />
                Het behalen van enkele extra punten op het einde van het seizoen tegen oa topploegen als Beerst, kwam te laat en FC De Hoek zakte terug naar Reeks 2.
            </div>
        </p>
        <p>
            <div class="row">
                <h3>Degradatie uit Reeks 2</h4><br />
                Voor seizoen 2016-2017 trok FC De Hoek enkele aanvallende versterkingen aan om een goed seizoen in de 2de reeks neer te zetten. <br />
                Met in het achterhood dat de verdedigen dezelfde was als 2 seizoenen geleden en toen de beste verdediging was in de Reeks, zag alles er goed uit. <br />
                FC De Hoek startte dan ook furieus. Met een 12 op 15 stond De Hoek zelfs op een 2de plaats. Maar toen liep het mis. <br />
                De ene na de andere speler viel geblesseerd uit en De Hoek kon geen punten meer pakken. <br />
                Het duurde tot de 15de wedstrijd van het seizoen (ondertusen 9 wedstrijden zonder overwinning = 0 op 27) en eveneens de laatste wedstrijd van 2016, om nogmaals aan te knopen met een overwinning tegen Weireldploegje (0-2). <br />
                Dit werd tevens ook (nog maar) de eerste clean sheat van het seizoen. <br />
                Geplaagd door blessures in de centrale as, kon De Hoek in 2017 het tij niet keren. Op de laatste speeldag werd nog 2-0 gewonnen op De Engel, hierdoor eindigde De Hoek als 3de laatste.<br />
                Door het verdwijnen van een tweetal ploegen was deze plaats echter geen redding. FC De Hoek werd mee naar de 3de Reeks verbannen. <br />
                Na het kunnen proeven van het hoogste niveau, betekende dit een pijnlijke terugval van 2 reeksen. Hierop besloot ook Anthony de Prince een stap op zij te zetten als voorzitter. <br />
            </div>
        </p>
        <p>

            <div class="row">
                <h3>Kampioen</h4><br />
                <img class="sponsorImage" src="../../Images/FC de Hoek - Kampioen 2018.jpg" alt="Image not found" />
            </div>
            <div class="row">
                Nieuwe bazen, nieuwe wetten. Jordy Casier nam het voorzitterschap over en dit met onmiddellijk succes. Met enkel Woumen en New Jupy Inn als tegenstand, won Fc De Hoek voor het eerst in zijn geschiedenis een competitie! <br />

            </div>

        </p>
        <p>
            <div class="row">
                <h3> Promotie naar Reeks 1</h3><br/>
                Ook het 2de seizoen onder Casier nam een vliegende start. Halfweg de competitie stond FC De Hoek 2de, het moest enkel het ongenaakbare Ettelgem '78 voor zich dulden.<br/>
                Maar zoals dikwijls was het na nieuwjaar heel wat minder. Met slechts 2 gewonnen wedstrijden in de competitie moest FC De Hoek nog een plaats afgeven. Het zakte weg naar een mooie 3de plek.<br/>
                Echter door het verdwijnen van enkele clubs werd de competitie herschikt, waardoor De Hoek zich toch mocht klaarmaken om opnieuw in Reeks 1 aan de slag te gaan.
            </div>
        </p>
    </div>
    </div>
