
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div align="center">
    <h1>Under Construction - Wordt aan gewerkt</h1>
    <h3>Geef ons nog even tijd, hier wordt aan gewerkt.</h3>
    <h3>Give us some time, this page is under construction.</h3>
    <img width="300" height="200" src="http://gdurl.com/Jzn2" alt="Image Not Found" />
</div>