@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stationsstraat 98<br />
    8400 Oostende<br />
    <abbr title="Phone">Casier Jordy:</abbr>
    0472 28 22 66
</address>

<address>
    <strong>Voorzitter:</strong> <a href="mailto:jordycasier@hotmail.com">jordycasier@hotmail.com</a>
    <strong>Info:</strong>   <a href="mailto:fcdehoek@gmail.com">fcdehoek@gmail.com</a><br />
</address>